@use "../../_globalColor";

.social-media-div {
  font-size: 2em;
}

.icon-button {
  margin-bottom: 10px;
}

.icon-button i {
  color: globalColor.$textColorDark;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
  margin-bottom: 10px;
  transition: 0.2s ease-in;
}

.facebook i {
  background-color: globalColor.$faceBook;
}

.linkedin i {
  background-color: globalColor.$linkedin;
}

.github i {
  background-color: globalColor.$github;
}

.gitlab i {
  background-color: globalColor.$gitlab;
}

.google i {
  background-color: globalColor.$google;
}

.twitter i {
  background-color: globalColor.$twitter;
}

.medium i {
  background-color: globalColor.$medium;
}

.stack-overflow i {
  background-color: globalColor.$stackoverflow;
}

.kaggle i {
  background-color: globalColor.$kaggle;
}

.instagram i {
  background-color: globalColor.$instagram;
}

/* Hover Transition */
.twitter i:hover,
.google i:hover,
.gitlab i:hover,
.github i:hover,
.linkedin i:hover,
.facebook i:hover,
.instagram i:hover,
.stack-overflow i:hover,
.kaggle i:hover,
.medium i:hover {
  background-color: globalColor.$textColor;
}

/* Media Query */
@media (max-width: 768px) {
  .social-media-div {
    text-align: center;
  }
}
