@use "../../_globalColor";

.footer-text {
  text-align: center;
  color: globalColor.$subTitle !important;
}

.dark-mode {
  color: globalColor.$textColorDark !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
